[Unit]
Description=Sibyl XMPP Bot
After=network-online.target

[Service]
User=sibyl
ExecStart=/home/jonathan/sources/sibyl/run.py

[Install]
Alias=sibyl.service
