[Unit]
Description=Sibyl XMPP Bot
After=network-online.target

[Service]
User=sibyl
Environment=LANG=en_US.utf8
ExecStart=/opt/sibyl/run.py

[Install]
Alias=sibyl.service
